<%- include('header') %>

    <br>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h3 class="display-6">Currículo Vitae</h3>
            </div>
            <ul>
                <li><a href="/admin/experiencias">Gerenciar experiências</a></li>
                <li><a href="/admin/formacoes">Gerenciar formações</a></li>
            </ul>
        </div>
    </main>

<%- include('footer') %>