<footer>
    <div id="footer">
        <p>&copy;2020 Ricardo Wojciechowski</p>
        <div class="links">
            <a href="https://www.facebook.com/ricardowoj" target="_blank"><img
                    src="https://img.icons8.com/cute-clipart/64/000000/facebook.png"></a>
            <a href="https://www.instagram.com/ricardo_wojciechowski/?hl=pt-br" target="_blank"><img
                    src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"></a>
            <a href="https://www.linkedin.com/in/ricardo-wojciechowski-64463225/" target="_blank"><img
                    src="https://img.icons8.com/cute-clipart/64/000000/linkedin.png"></a>
        </div>
    </div>
</footer>
</body>

</html>