    <%- include('header') %>

    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="images/impacta.png" class="card-img-top" alt="logo-impacta">
            <div class="card-body">
                <h5 class="card-title">Análise e desenvolvimento de sistemas</h5>
                <p class="card-text">Cursando o 2º período</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/ufmg.jpg" class="card-img-top" alt="logo-ufmg">
            <div class="card-body">
                <h5 class="card-title">Engenharia civil</h5>
                <p class="card-text">Cursado até o 8º período</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/soma.png" class="card-img-top" alt="logo-soma">
            <div class="card-body">
                <h5 class="card-title">Série escolar/h5>
                    <p class="card-text">3º ano do ensino médio.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/batista.png" class="card-img-top" alt="logo-batista">
            <div class="card-body">
                <h5 class="card-title">Série escolar</h5>
                <p class="card-text">Educação infantil, ensino fundamental e ensino médio até o 2º ano.</p>
            </div>
        </div>
    </div>

    <%- include('footer') %>