<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>R. Wojciechowski</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/experiencias">Experiência profissional</a>
            <a href=" /formacoes">Formação</a>
        </div>
    </header>

    