<%- include('header') %>

<div id="wrapper">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGFfvWvgB26Dw/profile-displayphoto-shrink_200_200/0?e=1590019200&v=beta&t=qqfj17mg8Ps9Q45X-ZBeGAWqs7vQ-AQbsCW3wH5KWPo" alt="Ricardo Wojciechowski">
    <h1>Ricardo Wojciechowski</h1>
    <h2>Estudante de Análise e desenvolvimento de sistemas</h2>
    <p>Rumo ao FullStack Developer.</p>
</div>



<%- include('footer') %>