<%- include('header') %>

    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <br>
                <h2 class="display-6">Currículo Vitae</h2>
                <p>O curriculum vitæ, também abreviado para CV ou apenas currículo é um documento de tipo histórico, que relata a trajetória educacional e as experiências profissionais de uma pessoa, como forma de demonstrar suas habilidades e competências.</p>
                <p><a class="btn btn-primary btn-lg" href="https://pt.wikipedia.org/wiki/Curriculum_vit%C3%A6"
                        target="_blank" role="button">Ler mais &raquo;</a></p>
            </div>
            <div class="text-center">
                <img src="images/ricardo.jpg" class="rounded" alt="imagem-ricardo">
            </div>
        </div>
        <hr>
        </div>
    </main>

<%- include('footer') %>