body {
    font-family: georgia;
    background-color: whitesmoke;
}

.container img {
    max-width: 75px;
    width: auto;
    margin-left: 0px;
}

.empresa {
    float: right;
    margin-left: 0px;
}

.experiencia {
    margin-top: 100px;
    margin-bottom: 120px;
}
