footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

img{
	max-width:100%;
    height:auto;
    float: left;
}

.rede-social {
    max-width:100%;
    height:auto;
    float: left;
}

.card-body {
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}