body {
    font-family: georgia;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container img {
    max-width: 75px;
    width: auto;
    margin-left: 0px;
}

.empresa {
    float: right;
    margin-left: 0px;
}

.rounded {
    max-width: 400px;
    width: auto;
}
